include ~FRAMEWORK/icon/icon

mixin showcase(options = {})
	-
		let classes = ''
		let classBase = 'showcase'
		let type = options.type
		let vAlign = false
		let hAlign = false

		classes += classBase+'_'+type

		switch(type){
		    case 'font':
		    	var title = options.data.title
				var tag = options.data.tag ? options.data.tag : false
				var className = options.data.className ? options.data.className : ''
				var columns = 2
		        break;
		    case 'color':
		    	var title = options.data.title
				var code = options.data.code
				var className = options.data.className
				var columns = 3

				vAlign = true
		        break;
		    case 'button':
		    	var title = options.data.title
				var columns = 2

				vAlign = true
		        break;
		    case 'icon':
		    	var title = options.data.title
		    	var brake = options.data.brake ? options.data.brake : 0
				var columns = 6

				vAlign = true
				hAlign = true
		        break;
		    case 'icon-adv':
		    	var title = options.data.title
		    	var icon = options.data.icon
		    	var columns = 6
				vAlign = true
				hAlign = true
		        break;
		}

		let columnsClass = `flex-grid_columns_${columns}`
		let vAlignClass = vAlign ? 'flex-grid_v-align_center' : ''
		let hAlignClass = hAlign ? 'flex-grid_h-align_center' : ''

	.showcase(class=classes)
		.showcase__container.flex-grid(class=`${columnsClass} ${vAlignClass} ${hAlignClass}`)
			case type
				when 'font'
					.showcase__item
						case tag
							when 'h1'
								h1(class=className)=title
							when 'h2'
								h2(class=className)=title
							when 'strong'
								strong(class=className)=title
							default
								div(class=className)=title
					.showcase__item.showcase__item_description
						block

				when 'color'
					.showcase__item.flex-grid__item_width_1
						.showcase__color(class=className)
					.showcase__item.flex-grid__item_width_2.showcase__item_description=code
					.showcase__item.flex-grid__item_width_3.showcase__item_description=title

				when 'button'
					.showcase__item
						block
					.showcase__item.showcase__item_description=title

				when 'icon'
					.showcase__item
						+icon({icon: title})
					case brake
						when 2
							.showcase__item.showcase__item_description нет
							.showcase__item.showcase__item_description нет	
						when 1
							.showcase__item
								+icon({icon: title, isHover: true})
							.showcase__item.showcase__item_description нет
						default
							.showcase__item
								+icon({icon: title, isHover: true})
							.showcase__item
								+icon({icon: title, isActive: true})

					.showcase__item
					.showcase__item.flex-grid__item_width_2.showcase__item_description.flex-grid__item_h-align_ignore=title

				when 'icon-adv'
					.showcase__item
						.showcase__icon-holder.grey-light-bg
							+icon({icon: icon, isHover: true})
					.showcase__item
						.showcase__icon-holder.grey-light-bg
							+icon({icon: icon, isActive: true})
					.showcase__item
						.showcase__icon-holder.grey-light-bg
							+icon({icon: icon})

					.showcase__item
					.showcase__item.flex-grid__item_width_2.showcase__item_description.flex-grid__item_h-align_ignore=title
					
				default
					div Incorrect type